-
    function getDistanceCssClass(distance) {
        if (distance >= 0 && distance < 0.1) return 'nearby';
        if (distance >= 0.1 && distance < 0.3) return 'close';
        else return 'far';
    }

for stop in allStops
    -
        let {stopType, distanceToStop} = stop;
        let url = '';
        if (stopType == 'Bus stop') url = `/bus/timings/${stop.cleanSuburb}/${stop.cleanBusStopName}`
        else if (stopType == 'Train station') url = `/metro/timings/${stop.stationName.slice(0, -16).toLowerCase().replace(/ /g, '-')}`
        else if (stopType == 'Tram stop') url = `/tram/timings/${stop.cleanSuburb}/${stop.cleanTramStopName}`
        else url = '#'
        
        let imageURL = '';
        if (stopType == 'Bus stop') imageURL = `/static/images/bus-icon.svg`
        else if (stopType == 'Train station') imageURL = `/static/images/metro-icon.svg`
        else if (stopType == 'Tram stop') imageURL = `/static/images/tram-icon.svg`
        
    a(href=url class='stop ' + stopType.toLowerCase().replace(' ', '-'))
        div
            div.leftContainer
                img(src=imageURL)
                span=Math.round(distanceToStop * 1000) + ' metres'
            div.stopInfo
                span=stopType + ' in ' + stop.suburb
                span=stop.name
