-
    let distinctBusServices = busServices.map(service => service.fullService).filter((e, i, a) => a.indexOf(e) === i);
    let busServiceTypes = {
        metro: 'Metropolitian',
        telebus: 'TeleBus'
    };
    
for trainStation in trainStations
    a(href=`/metro/timings/${trainStation.stationName.slice(0, -16).toLowerCase().replace(/ /g, '-')}`).trainStation.result
        div.leftContainer
            img(src='/static/images/metro-icon.svg')
        div.resultDetails
            span='Train station in ' + trainStation.suburb
            span=trainStation.stationName

for tramStop in tramStops
    a(href=`/tram/timings/${tramStop.cleanSuburb[0]}/${tramStop.cleanTramStopName}`).tramStop.result
        div.leftContainer
            img(src='/static/images/tram-icon.svg')
        div.resultDetails
            span='Tram stop in ' + tramStop.suburb
            span=tramStop.tramStopName

for serviceNumber in distinctBusServices
    - let service = busServices.filter(svc => svc.fullService === serviceNumber);
    
    a(href=`/bus/metro/${serviceNumber}/`).busService.result
        div(class='leftContainer ' + service[0].operators[0].toLowerCase().replace(/[^\w]/g, '-'))
            span.serviceNumber=service[0].serviceNumber
            
            if !service[0].destination.includes('Clockwise')
                span.serviceVariant=service[0].serviceVariant
        div.resultDetails
            if service[0].serviceType === 'telebus'
                span='TeleBus Area ' + service[0].serviceVariant
            else
                
                span=busServiceTypes[service[0].serviceType] + ' Bus Service ' + service[0].fullService
                if service.length === 2
                    if service[0].destination.includes('Clockwise')
                        span=service[0].destination.replace(/ \([\w-]+\)/, '')
                    else
                        
                        span=`${service[0].destination} - ${service[1].destination}`
                else
                    
                    span=`${service[0].destination}`

for busStop in busStops
    a(href=`/bus/timings/${busStop.cleanSuburb}/${busStop.cleanBusStopName}`).busStop.result
        div.leftContainer
            img(src='/static/images/bus-icon.svg')
        div.resultDetails
            span='Bus stop in ' + busStop.suburb
            span=busStop.busStopName
